body {
  background-color: #f1f9f9;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: #381460;
  border-width: 5px;
  width: 25%;
}

h1 {
  color: white;
}

h2 {
  color: #66BFBF;
}

h3 {
  color: #ff1e56;
}
